.pricing_container{
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}

.pricing_item{
    padding: 1.875rem 2.5rem;
    background-color: var(--container-color);
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.pricing_plan{
    margin:1.25rem 0;
    font-size: var(--h2-font-size);
}

.pricing_title,.pricing_support{
    margin-bottom: 1rem;
}

.price{
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
}

.price em{
    font-style: normal;
    font-size: var(--small-font-size);
    margin-right: 0.5rem;
    vertical-align: super;
}

.price span{
    font-size: var(--);
    font-weight: 400;
    margin-left: 0.75rem;
}

.pricing_item .btn{
    margin-top: 1.25rem;

}

.pricing_item.best{
    padding: 3.4rem 2.5rem;
    position: relative;
    z-index: 1;
}

.badge{
    position: absolute;
    left: 0;
    top: 2.6rem;
    color: #fff;
    background-color: #6c6ce5;
    transform: rotate(-90deg);
    padding: .25rem .75rem;
    font-size: var(--small-font-size);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

@media screen and (max-width:1024px) {
    .pricing_container{
        grid-template-columns:repeat(2,330px);
        justify-content: center;
        column-gap: 1.875rem;
    }

    .pricing_item.best{
        padding: 1.875rem 2.5rem;
    }
}

@media screen and (max-width:768px) {
    .pricing_container{
        grid-template-columns: 310px;
    }
}

@media screen and (max-width:350px) {
    .pricing_container{
        grid-template-columns: 1fr;
    }
}